@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: radial-gradient(
    circle,
    rgba(228, 109, 60, 1) 0%,
    rgba(177, 21, 36, 1) 51%,
    rgba(242, 46, 46, 1) 100%
  );
  text-align: center;
}

#homeDiv {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: "Fugaz One";
  /* font-style: italic; */
  color: #090808;
  letter-spacing: 20px;
  font-size: 45px;
  text-shadow: 0 0 0.05em #d2e71c, 0 0 0.2em rgb(239, 255, 136),
    0 0 0.3em rgb(150, 137, 137);
  letter-spacing: 2px;
}

#homePageImg {
    height: 90%;
}

#homeBtnDiv{
    display: flex;
    justify-content: space-around;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: "Electrolize";
    font-style: italic;
}

.buttonContainer {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  padding: 5px 20px;
  transition: 300ms ease-in-out;
  z-index: 1;
}

.buttonContainer:hover {
  background: rgb(210, 207, 52);
  transform: scale(1, 1);
  border: 2px rgb(0, 0, 0) solid;
  box-shadow: 0 1px 5px #dfc4b8;
}

.btn {
  text-decoration: none;
  font-size: 1.25rem;
  color: rgb(79, 15, 5);
  transition: 0.5s ease, box-shadow 0.3s ease;
}

.btn:hover {
  color: rgb(0, 0, 0);
}

.btn::after {
  content: "";
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #f7f7f6 0%,
    #ea983b 50%,
    #b50707 100%
  );
  z-index: -1;
  transition: transform 0.5s ease;
}

.btn:hover::after {
  transform: rotate(150deg);
}
