@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Orbitron:wght@800&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: radial-gradient(circle, #fdbb2d 0%, #b21f1f 51%, #1a2a6c 100%);

  /* background: radial-gradient(circle,
      rgb(233, 151, 42) 0%,
      rgba(177, 21, 36, 1) 51%,
      rgba(242, 46, 46, 1) 100%); */
  text-align: center;
}

/* HomePage */

#homeDiv {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.logoHeader {
  font-family: "Orbitron";
  color: #090808;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 0 0 0.05em #d2e71c, 0 0 0.2em rgb(239, 255, 136),
    0 0 0.3em rgb(150, 137, 137);
  letter-spacing: 2px;
  animation: glow 5s ease-in-out infinite alternate;
  cursor: pointer;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(174, 144, 22), 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 10px #e5c01b, 0 0 20px #e5c01b, 0 0 30px #e5c01b,
      0 0 40px #e5c01b, 0 0 50px #e5c01b, 0 0 60px #e5c01b, 0 0 70px #e5c01b;
  }
}

#homePageImg {
  height: 90%;
}

#homeBtnDiv {
  display: flex;
  justify-content: space-around;
}

.buttonContainer {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  padding: 5px 20px;
  transition: 300ms ease-in-out;
  border: 2px rgb(0, 0, 0) solid;
  z-index: 1;
  background: linear-gradient(to right, #f9d423, #e65c00);
}

.buttonContainer:hover {
  background: rgb(210, 207, 52);
  transform: scale(1, 1);
  box-shadow: 0 1px 5px #dfc4b8;
}

.btn {
  text-decoration: none;
  font-size: 1.25rem;
  color: rgb(79, 15, 5);
  transition: 0.5s ease, box-shadow 0.3s ease;
  font-family: "Electrolize";
  /* font-style: italic; */
}



.btn:hover {
  color: rgb(0, 0, 0);
}

/* Login & Register */

#loginForm h1,
#registerForm h1 {
  font-family: "Electrolize";
}

#loginPageDiv,
#registerPageDiv {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#loginDiv,
#registerDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#loginForm,
#registerFor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textInput {
  font-family: "Electrolize";
  border: rgb(0, 0, 0) 2px solid;
  border-radius: 25px;
  padding: 10px 15px;
  margin: 2.5%;
  transition: border 1s, background-color 1s;
  width: 280px;
}

.textInput::placeholder {
  font-family: "Electrolize";
}

.textInput:hover {
  border: green 2px solid;
  background-color: rgb(186, 186, 186);
}

.greenButton {
  font-family: "Electrolize";
  color: black;
  border: black 1px solid;
  border-radius: 25px;
  padding: 7px 17px;
  background: linear-gradient(to right, #f9d423, #e65c00);
  animation: gradient 2s ease infinite;
  transition: border 1s, color 1s, background-color 1s;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.greenButton:hover {
  border: green 2px solid;
  color: green;
  background-color: rgb(150, 150, 150);
  cursor: pointer;
}

.redButton {
  font-family: "Electrolize";
  color: rgb(0, 0, 0);
  border: rgb(0, 0, 0) 1px solid;
  border-radius: 25px;
  transition: border 1s, color 1s, background-color 1s;
  background: linear-gradient(to right, #f9d423, #e65c00);
  padding: 7px 17px;
}

.redButton:hover {
  border: red 2px solid;
  color: red;
  background-color: rgb(150, 150, 150);
}

/* Dashboard */

#dashboardLogo {
  margin-bottom: 0px;
  margin-top: 25px;
}

#dashboardh1 {
  border: 2px solid;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 50px;
  font-family: "Electrolize";
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background: linear-gradient(-45deg, #ee7752, #af2d5f, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
  font-style: italic;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#dashboardDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#dashboardDivGrid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(2, 135px);
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#habitButton {
  /* border: 2px solid black; */
  border-radius: 50px;
  margin: 10px;
  width: 100px;
  height: 95px;
  text-transform: capitalize;
  font-style: italic;
  color: #e5c01b;
  background-image: linear-gradient(-180deg, #362c33 0%, #221620 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(67, 67, 110, 0.5),
    0 -0.25rem 1.5rem rgb(34, 30, 39) inset,
    0 0.75rem 0.5rem rgba(243, 241, 241, 0.4) inset,
    0 0.25rem 0.5rem 0 rgb(83, 74, 87) inset;
}

#dashboardFooter {
  margin-bottom: 25px;
}

.createButton {
  position: relative;
}

.createButton::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid rgb(225, 222, 221);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.75s infinite;
}

.createButton:focus::after{
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 120px;
    height: 120px;
    opacity: 0;
  }
}

#addImg {
  width: 40px;
  transition: 1s;
}

#addImg:active {
  transform: rotate(359deg);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

#logoutFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-self: flex-end; */
}

/* Habit Modal */

#backbutton {
  position: absolute;
  left: 10px;
  top: 15px;
}

#habitMainDiv {
  height: 90%;
  display: flex;
  justify-content: center;
}

#habitCard {
  display: flex;
  margin-top: 250px;
  margin-bottom: 140px;
  flex-direction: column;
  align-items: center;
  border: 2px black solid;
  border-radius: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background: linear-gradient(-45deg, #ee7752, #af2d5f, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#headerDiv h1 {
  font-family: "Electrolize";
  font-size: 35px;
  letter-spacing: 3px;
  color: rgb(0, 0, 0);
}

#streakContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 2px black solid;
  /* background-color: #d2e71c; */
  border-radius: 20px;
  width: 90%;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: "Electrolize";
  font-style: italic;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 15px;
}

#frequencyDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  width: 90%;
  /* background-color: #d2e71c; */
  border: 2px black solid;
  margin-bottom: 30px;
  font-size: 15px;
  font-family: "Electrolize";
  font-style: italic;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

select {
  border-radius: 25px;
  font-family: "Electrolize";
  border: grey 2px solid;
  padding: 5px 5px;
  margin-bottom: 5px;
  background: linear-gradient(to right, #f9d423, #e65c00);
  border: black 1px solid;
  text-align: center;
  ;
}

/* Create */

#createMainDiv {
  height: 90%;
  display: flex;
  justify-content: center;
}

#createCard {
  display: flex;
  margin-top: 280px;
  margin-bottom: 240px;
  flex-direction: column;
  align-items: center;
  border: 2px black solid;
  border-radius: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background: linear-gradient(-45deg, #ee7752, #af2d5f, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
  width: 90%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#createHeaderDiv {
  font-family: "Electrolize";
}

#createForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#frequencyHabitSelect {
  width: 150px;
}

#createHabitInput {
  margin-bottom: 15px;
}

#createHabitButton {
  margin-top: 5px;
  width: 150px;
}

#deleteButton {
  width: 125px;
  height: 40px;
  font-size: 15px;
}

#dashboardLogout {
  width: 125px;
  height: 40px;
  font-size: 15px;
}

#backbutton {
  width: 120px;
  height: 60px;
  font-size: 15px;
}
